In [8]:
import pandas as pd

# Load the CSV files into DataFrames
df1 = pd.read_csv('datasets/file1.csv')
df2 = pd.read_csv('datasets/file2.csv')

# Compare column names
common_columns = set(df1.columns).intersection(set(df2.columns))
unique_to_df1 = set(df1.columns) - set(df2.columns)
unique_to_df2 = set(df2.columns) - set(df1.columns)

print("Common columns:", common_columns)
print("Columns unique to file1.csv:", unique_to_df1)
print("Columns unique to file2.csv:", unique_to_df2)

# Compare values in common columns
for column in common_columns:
    if df1[column].equals(df2[column]):
        print(f"Column '{column}' has identical values in both files.")
    else:
        print(f"Column '{column}' has different values in the files.")

# Example of inferring key relationships
# Assuming 'id' is a common key column
if 'id' in common_columns:
    merged_df = pd.merge(df1, df2, on='id', suffixes=('_file1', '_file2'))
    print(merged_df.head())

Common columns: {'ID', 'Name', 'Age'}
Columns unique to file1.csv: {'City'}
Columns unique to file2.csv: {'Country'}
Column 'ID' has different values in the files.
Column 'Name' has different values in the files.
Column 'Age' has different values in the files.

In [29]:
# Example: Checking for unique identifiers
potential_keys = []
for column in common_columns:
    if df1[column].is_unique and df2[column].is_unique:
        potential_keys.append(column)

print("Potential keys:", potential_keys)


# Check for similarity between columns
def jaccard_similarity(set1, set2):
    # Calculate the intersection of two sets
    intersection = set1.intersection(set2)
    
    # Calculate the union of two sets
    union = set1.union(set2)
    
    # Calculate the similarity as the ratio of intersection to union
    similarity = len(intersection) / len(union)
    
    return similarity

for col in df1.columns:
    unique_values1 = set(df1[col])
    for col2 in df2.columns:
        unique_values2 = set(df2[col2])

        # Calculate and print the similarity between the example sets
        similarity = jaccard_similarity(unique_values1, unique_values2)
        print(f"The similarity between {col} and {col2} is: {similarity:.2f}")

Potential keys: ['ID', 'Name', 'Age']
The similarity between ID and ID is: 0.43
The similarity between ID and Name is: 0.00
The similarity between ID and Age is: 0.00
The similarity between ID and Country is: 0.00
The similarity between Name and ID is: 0.00
The similarity between Name and Name is: 0.43
The similarity between Name and Age is: 0.00
The similarity between Name and Country is: 0.00
The similarity between Age and ID is: 0.00
The similarity between Age and Name is: 0.00
The similarity between Age and Age is: 0.43
The similarity between Age and Country is: 0.00
The similarity between City and ID is: 0.00
The similarity between City and Name is: 0.00
The similarity between City and Age is: 0.00
The similarity between City and Country is: 0.00

In [30]:
# Check for similarity between columns
def direction_similarity(set1, set2):
    common_elements = set1 & set2

    # Count the number of common elements
    count_common_elements = len(common_elements)
    
    # Calculate the similarity as the ratio of intersection to union
    similarity = count_common_elements / len(set1)
    
    return similarity

df1 = pd.read_csv('datasets/file1.csv')
df3 = pd.read_csv('datasets/file3.csv')
# df1 = pd.read_csv('file3.csv')
# df3 = pd.read_csv('file1.csv')

for col in df1.columns:
    unique_values1 = set(df1[col])
    for col2 in df3.columns:
        unique_values2 = set(df3[col2])

        # Calculate and print the similarity between the example sets
        similarity = direction_similarity(unique_values1, unique_values2)
        print(f"The directional similarity between {col} and {col2} is: {similarity:.2f}")

The directional similarity between ID and ID is: 1.00
The directional similarity between ID and Name is: 0.00
The directional similarity between ID and Age is: 0.00
The directional similarity between Name and ID is: 0.00
The directional similarity between Name and Name is: 1.00
The directional similarity between Name and Age is: 0.00
The directional similarity between Age and ID is: 0.00
The directional similarity between Age and Name is: 0.00
The directional similarity between Age and Age is: 1.00
The directional similarity between City and ID is: 0.00
The directional similarity between City and Name is: 0.00
The directional similarity between City and Age is: 0.00

In [31]:
potential_keys = []
for column in common_columns:
    if df1[column].is_unique and df2[column].is_unique:
        potential_keys.append(column)

print("Potential keys:", potential_keys)


# Check for similarity between columns
def jaccard_similarity(set1, set2):
    # Calculate the intersection of two sets
    intersection = set1.intersection(set2)
    
    # Calculate the union of two sets
    union = set1.union(set2)
    
    # Calculate the similarity as the ratio of intersection to union
    similarity = len(intersection) / len(union)
    
    return similarity

for col in df1.columns:
    unique_values1 = set(df1[col])
    for col2 in df2.columns:
        unique_values2 = set(df2[col2])

        # Calculate and print the similarity between the example sets
        similarity = jaccard_similarity(unique_values1, unique_values2)
        print(f"The similarity between {col} and {col2} is: {similarity:.2f}")

Potential keys: ['ID', 'Name', 'Age']
The similarity between ID and ID is: 0.43
The similarity between ID and Name is: 0.00
The similarity between ID and Age is: 0.00
The similarity between ID and Country is: 0.00
The similarity between Name and ID is: 0.00
The similarity between Name and Name is: 0.43
The similarity between Name and Age is: 0.00
The similarity between Name and Country is: 0.00
The similarity between Age and ID is: 0.00
The similarity between Age and Name is: 0.00
The similarity between Age and Age is: 0.43
The similarity between Age and Country is: 0.00
The similarity between City and ID is: 0.00
The similarity between City and Name is: 0.00
The similarity between City and Age is: 0.00
The similarity between City and Country is: 0.00

# Look at the wharf coefficent between two columns

In [32]:


df3 = pd.read_csv('datasets/test_relation2.csv')

counts = df3.groupby(['Col1', 'Col2']).size().reset_index(name='counts')

print(counts.head())

max_counts = counts.loc[counts.groupby('Col1')['counts'].idxmax()]

max_counts.head()

w = max_counts['counts'].sum()/df3.shape[0]

w

  Col1     Col2  counts
0    A  Charlie       2
1    B      Eve       2
2    C    Grace       1

1.0

In [33]:
df3 = pd.read_csv('datasets/test_relation.csv')

counts = df3.groupby(['Col1', 'Col2']).size().reset_index(name='counts')

print(counts.head())

max_counts = counts.loc[counts.groupby('Col1')['counts'].idxmax()]

max_counts.head()

w = max_counts['counts'].sum()/df3.shape[0]

w

  Col1     Col2  counts
0    A  Charlie       2
1    B  Charlie       1
2    B      Eve       2
3    C    Grace       1

0.8333333333333334

In [34]:
df_users = pd.read_csv('datasets/users_202409010008.csv')

df_users_join = pd.read_csv('datasets/users_202409010008_joinable_info.csv', nrows=1000)

df_users_join.head()

,firstName,lastName,fullName,email,company,city,state,jobTitle,phoneNumber
0,Antonio,Abshire,Antonio Abshire,Antonio_Abshire64@yahoo.com,O'Hara LLC,Guaynabo,New Hampshire,Legacy Operations Assistant,(256) 437-7325 x50857
1,Jadyn,O'Reilly,Jadyn O'Reilly,Jadyn_OReilly25@hotmail.com,Koss - Frami,Bechtelarton,Tennessee,Chief Brand Producer,976.661.4443 x632
2,Cristopher,Cartwright-Kuphal,Cristopher Cartwright-Kuphal,Cristopher.Cartwright-Kuphal@yahoo.com,Rutherford LLC,Hillsboro,California,Dynamic Web Liaison,582.369.8834 x08136
3,Reuben,Nader,Reuben Nader,Reuben_Nader1@hotmail.com,McGlynn - O'Hara,East Tatumport,Rhode Island,Forward Infrastructure Executive,1-521-678-0269 x445
4,Bradly,Oberbrunner,Bradly Oberbrunner,Bradly_Oberbrunner@gmail.com,Bernhard - Leannon,La Mesa,Nebraska,Lead Metrics Liaison,(624) 605-7801 x21404

In [35]:
for col in df_users_join.columns:
    unique_values1 = set(df_users_join[col])
    for col2 in df_users.columns:
        unique_values2 = set(df_users[col2])

        # Calculate and print the similarity between the example sets
        similarity = direction_similarity(unique_values1, unique_values2)
        print(f"The directional similarity between {col} and {col2} is: {similarity:.2f}")

The directional similarity between firstName and firstName is: 1.00
The directional similarity between firstName and lastName is: 0.02
The directional similarity between firstName and fullName is: 0.00
The directional similarity between firstName and email is: 0.00
The directional similarity between firstName and company is: 0.00
The directional similarity between lastName and firstName is: 0.08
The directional similarity between lastName and lastName is: 1.00
The directional similarity between lastName and fullName is: 0.00
The directional similarity between lastName and email is: 0.00
The directional similarity between lastName and company is: 0.00
The directional similarity between fullName and firstName is: 0.00
The directional similarity between fullName and lastName is: 0.00
The directional similarity between fullName and fullName is: 1.00
The directional similarity between fullName and email is: 0.00
The directional similarity between fullName and company is: 0.00
The directional similarity between email and firstName is: 0.00
The directional similarity between email and lastName is: 0.00
The directional similarity between email and fullName is: 0.00
The directional similarity between email and email is: 1.00
The directional similarity between email and company is: 0.00
The directional similarity between company and firstName is: 0.00
The directional similarity between company and lastName is: 0.00
The directional similarity between company and fullName is: 0.00
The directional similarity between company and email is: 0.00
The directional similarity between company and company is: 1.00
The directional similarity between city and firstName is: 0.01
The directional similarity between city and lastName is: 0.00
The directional similarity between city and fullName is: 0.00
The directional similarity between city and email is: 0.00
The directional similarity between city and company is: 0.00
The directional similarity between state and firstName is: 0.08
The directional similarity between state and lastName is: 0.00
The directional similarity between state and fullName is: 0.00
The directional similarity between state and email is: 0.00
The directional similarity between state and company is: 0.00
The directional similarity between jobTitle and firstName is: 0.00
The directional similarity between jobTitle and lastName is: 0.00
The directional similarity between jobTitle and fullName is: 0.00
The directional similarity between jobTitle and email is: 0.00
The directional similarity between jobTitle and company is: 0.00
The directional similarity between phoneNumber and firstName is: 0.00
The directional similarity between phoneNumber and lastName is: 0.00
The directional similarity between phoneNumber and fullName is: 0.00
The directional similarity between phoneNumber and email is: 0.00
The directional similarity between phoneNumber and company is: 0.00

In [36]:
df_users_join.corr()

ValueError: could not convert string to float: 'Antonio'